.feed {
    padding-bottom: 48px;
    &__item {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__foto {
        margin-right: 61px;
    }
    &__name {
        font-weight: bold;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__count {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
    }

}