@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('/src/fonts/MuseoSansCyrl-500.woff2') format('woff2'),
    url('MuseoSansCyrl-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('/src/fonts/MuseoSansCyrl-300.woff2') format('woff2'),
    url('MuseoSansCyrl-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Museo Sans 700 Bold';
    src: url('/src/fonts/MuseoSansCyrl-700.woff2') format('woff2'),
    url('MuseoSansCyrl-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }